@import url("./colors.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color:var(--white)
}

/* Base page background */
.bg-dark{
    background-color: #000;
}

/* UpperCase */
.text-uppercase{
    text-transform: uppercase;
}

/* Navbar buttons */
.btn-nav{
    border: 1px solid var(--white);
    border-radius: 25px;
    padding: .5rem 1.5rem;
    transition: 0.2s;
    cursor: pointer;
}
.btn-nav:hover{
    transition: 0.2s;
    color: var(--twitter-blue);
    border: 1px solid var(--twitter-blue);
}