@import url("./colors.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--white);
}

/* Scroolbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  display: none;
  transition: 0.2s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
  display: inline;
  transition: 0.2s;
}

/* Base page background */
.bg-dark {
  background-color: #000;
}

/* UpperCase */
.text-uppercase {
  text-transform: uppercase;
}

/* Navbar buttons */
.btn-nav {
  border: 1px solid var(--white);
  border-radius: 25px;
  padding: 0.5rem 1.5rem;
  transition: 0.2s;
  cursor: pointer;
}
.btn-nav:hover {
  transition: 0.2s;
  color: var(--twitter-blue);
  border: 1px solid var(--twitter-blue);
}